# Vercel Analytics id (Opsional, dibaca oleh @vercel/analytics)
VERCEL_ANALYTICS_ID=""

# Kunci bypass Maintenance Mode (Contoh: zeyshyy)
ADMIN_KEY="zeyshyy"

# Saklar darurat Maintenance Mode (true/false)
MAINTENANCE_MODE="false"
